{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}
{% block content %}
<div class="page-wrapper">
<div  style="margin: 5px;">
    {% if actor %}
    <div style="display: flex;">
        <div class="actor-image">
            <img style="height: 125px;padding: 3px 10px;" src="{% static 'images/person.svg' %}" alt="Actor"/>
        </div>
        <div>
            <h2 id="actName" style="margin-right: 25px;" data-name="{{ actor.name }}"></h2>
            <script>
                var actName = document.getElementById('actName');
                actName.textContent = capitalize(actName.getAttribute('data-name'))+' Videos';
            </script>
            <p style="font-size: medium;" class="views" data-views="{{ actor.views }}"></p>
            <p>Ratings: {{ actor.ratings }} Stars</p>
            {% if not suscribed %}
                <button id="subscribe-btn" class="suscribe-button" >Suscribe</button>
            {% else %}
                <button id="subscribe-btn" class="unsuscribe-button" >Unsuscribe</button>
            {% endif  %}
            <script>
                var subscribeBtn = document.getElementById('subscribe-btn');
                subscribeBtn.addEventListener('click', function() {

                    {% if not user.is_authenticated %}
                        window.location = `/user/login?next=${window.location.pathname + window.location.search + window.location.hash}`
                    {% else %}
                        
                        var channelID = "{{ actor.id }}";  // Replace with actual channel ID
                        var xhr = new XMLHttpRequest();
                        var channelName= "{{ actor.name }}";
                        xhr.open('POST', '/api/subscribe/actor/' + channelID + '/'+channelName);
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                        
                        xhr.onload = function() {
                            if (xhr.status === 201) 
                            {
                                
                                subscribeBtn.innerHTML = 'Unsuscribe';
                                subscribeBtn.className = 'unsuscribe-button';
                                
                            } 
                            else if(xhr.status === 204)
                            {
                                subscribeBtn.textContent = 'Suscribe';
                                subscribeBtn.className = 'suscribe-button';
                                
                            }
                        };
    
                    xhr.onerror = function() {
                        alert('Error: Request failed.');
                    };
                    
                    xhr.send();
                    
                    {% endif %}
            });
            </script>
        </div>
    </div>
    {% endif %}
</div>
<div class="grid-container" id="gridContainer">
    
    {% if items|length == 0 %}
                <p style="margin-left: 25px;">No Videos available.</p>
    {% else %}
    {% for item in items %}
    <a style="text-decoration: none;" href="/video/{{ item.uuid }}/{{ item.name }}" class="video-link" data-source="{% static 'images/output2.webm' %}">
        <div   class="grid-item-container">
            <div class="grid-item" data-name="Item 1" data-views="100">
                <img style="border-radius: 10px;" src="{% static 'images/image1.jpg' %}" alt="Item 1">
                {% if item.isFull %}
                    <p  class="fullContainer">Full Video</p>
                {% endif %}
                <p data-seconds="{{ item.duration }}" class="timeDiv" style="right: 0;position: absolute;bottom: 0;font-weight: 600;background-color: beige;padding: 3px;margin: 5px;border-radius: 3px;font-size: small;"></p>
                <div class="overlay">
                    <video  muted loop class="video-preview" style="border-radius: 10px; display: none;"></video>
                </div>
            </div>
        </div>
        <div  class="info">
            <div data-name="{{ item.name }}"  class="name"><p></p></div>
            <div class="views-channel">
                <div class="views" data-views="{{ item.views }}"></div>
                <div class="grid-item-channel" >{{item.channel}}</div>
            </div>
        </div>
    </a>
        {% endfor %}
        <script src="{% static 'js/preview.js' %}"></script>
    {% endif %}
    
</div>
<script src="{% static 'js/values.js' %}"></script>
</div>
{% endblock %}
