
    

.suscribe-button{
    padding: 5px;
    background-color: rgb(38, 117, 237);
    color: white;
    border-radius: 5px;
    margin: 5px 0px;
    font-size: 18px;
}

.unsuscribe-button{
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin: 5px 0px;
    font-size: 18px;
}




