{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        input[type="password"]
        {
            padding: 10px;
            width: 500px;
            font-size: 18px;
            border: 2px solid black;
        }
        label{
            font-size: 25px;
            font-weight: bold;
            color: black;
            margin-right: 25%;
            padding: 25px 0px;
            
        }
        .form-container{
            display: flex;
            justify-content: center;
            box-shadow: 10px 10px #ccc;
            
        }
        
        .main-container{
            display: flex;
            justify-content: center;
            /* margin: 20%; */
        }
        @media screen and (max-width: 600px) {
            .main-container{
                margin: 10px;
                padding: 10px;
            }
            input[type="password"]{
                width: 100%;
            }
        }
        
        .form-container form{
            padding: 20px;
            border: 3px solid black;
        }
        .form-text{
            padding: 20px;
        }
        .btn{
            padding: 10px;
            font-size: 20px;
            background-color: rgb(74, 135, 226);
            color: white;
            border-radius: 5px;
            margin: 25px 25px 25px 0px;
        }
    </style>
    <div class="form-container">
        <form method="POST" class="example-form">
            {% csrf_token %}
            <div>
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}